// ── config/docker.config ──────────────────────────────────
// Container assignments for Docker profile

process {
    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withName: 'FASTP' {
        container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_2'
    }
    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'
    }
    withName: 'BWA_MEM2_INDEX|BWA_MEM2_MEM' {
        container = 'quay.io/biocontainers/bwa-mem2:2.2.1--hd03093a_2'
    }
    withName: 'SAMTOOLS.*' {
        container = 'quay.io/biocontainers/samtools:1.19--h50ea8bc_0'
    }
    withName: 'IVAR.*' {
        container = 'quay.io/biocontainers/ivar:1.4.2--h43eeafb_2'
    }
    withName: 'MAFFT' {
        container = 'quay.io/biocontainers/mafft:7.525--h031d066_1'
    }
    withName: 'IQTREE' {
        container = 'quay.io/biocontainers/iqtree:2.2.6--h21ec9f0_0'
    }
    withName: 'ANNOTATE_VARIANTS|GENOTYPE_ASSIGN|REPORT|VALIDATE_SAMPLESHEET' {
        container = 'quay.io/biocontainers/python:3.11'
    }
    withName: 'HOST_FILTER' {
        container = 'quay.io/biocontainers/bwa-mem2:2.2.1--hd03093a_2'
    }
}
